In [4]:
import pandas as pd

flights = pd.read_csv('C:\IIT Jodhpur\Inter IIT\Tinkering_Lab_Project\data\SCH-ZZ-20231127_213356.csv')
flights.head()

flight

,ScheduleID,CarrierCode,FlightNumber,AircraftType,AircraftTailNumber,DepartureAirport,ArrivalAirport,DepartureTime,ArrivalTime,StartDate,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Frequency_per_week,Frequency,NoOfDepartures,DepartureDates
0,SCH-ZZ-7283355,ZZ,3417,Boeing 787,VT-6785,CNN,MAA,4:37,12:50,05/22/2024,...,0,0,0,0,0,1,2,17.0,27,"['05/25/2024', '05/26/2024', '06/01/2024', '06..."
1,SCH-ZZ-8305184,ZZ,3083,Airbus A320 Neo,VT-3868,CCJ,MAA,22:42,6:43,08/21/2024,...,1,1,0,0,1,1,4,2367.0,4,"['08/23/2024', '08/24/2024', '08/26/2024', '08..."
2,SCH-ZZ-7310425,ZZ,2943,Boeing 767,VT-4386,AMD,HYD,13:55,20:40,08/17/2024,...,0,1,0,1,1,0,4,1356.0,4,"['08/18/2024', '08/20/2024', '08/22/2024', '08..."
3,SCH-ZZ-3126325,ZZ,4211,ATR 72,VT-2017,GOI,DEL,17:01,11:08,01/10/2024,...,0,1,0,1,1,1,5,13567.0,82,"['01/11/2024', '01/12/2024', '01/13/2024', '01..."
4,SCH-ZZ-4285322,ZZ,4204,Boeing 787,VT-7218,HYD,DEL,12:05,21:12,03/04/2024,...,0,0,1,1,1,1,5,14567.0,39,"['03/06/2024', '03/07/2024', '03/08/2024', '03..."